{% extends "./base.njk" %}

{% block content %}
<img src="/images/{{ image }}"/>
<h1>{{ rank }} {{ fullname }}{% if academic_degree %}, {{ academic_degree }} {% endif %}</h1>
<p>
    {{ role }} of {{ assignment }}
</p>
<p>
    {{ species }} ({{ pronouns }})
</p>
<p>
    {{ character_type }} {% if player %} played by {{ player }} {% endif %}
</p>

{{ content | safe }}
{% endblock %}
